@model Snappy1.Models.Car

@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div>
    
    
    <form>
        <input type="submit" class="btn btn-primary" value="Back" asp-action="Index" />
    </form>
</div>
